html,body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.scroll-section-outer {
	overflow: hidden;
}

.scroll-section-inner {
	height: 100vh;
	width: 400vw;  /*Based on the amount of HSections (i.e, 4*100vw = 400wv)*/
	display: flex;
	flex-direction: row; 
	position: relative;
}

.scroll-section{
	height: 100vh;
	width: 100vw;
	display: flex;
}

